<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easykoo.mybatis.dao.CategoryMapper">
    <resultMap id="CategoryResultMap" type="com.easykoo.mybatis.model.Category">
        <id column="category_id" property="categoryId" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="cn_description" property="cnDescription" jdbcType="VARCHAR"/>
        <result column="parent_category" property="parentCategory" jdbcType="VARCHAR"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <collection property="children" column="category_id" javaType="ArrayList" ofType="Category"
                    select="getChildrenCategory"/>
    </resultMap>
    <sql id="Category_Column_List">
    category_id, description, cn_description, parent_category, create_user, create_date,
    update_user, update_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="CategoryResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Category_Column_List"/>
        from category
        where category_id = #{categoryId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from category
    where category_id = #{categoryId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.easykoo.mybatis.model.Category">
    insert into category (category_id, description, cn_description, parent_category, create_user,
      create_date, update_user, update_date)
    values (#{categoryId,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{cnDescription,jdbcType=VARCHAR}, #{parentCategory,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.easykoo.mybatis.model.Category">
        insert into category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="cnDescription != null">
                cn_description,
            </if>
            <if test="parentCategory != null">
                parent_category,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="cnDescription != null">
                #{cnDescription,jdbcType=VARCHAR},
            </if>
            <if test="parentCategory != null">
                #{parentCategory,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.easykoo.mybatis.model.Category">
        update category
        <set>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="cnDescription != null">
                cn_description = #{cnDescription,jdbcType=VARCHAR},
            </if>
            <if test="parentCategory != null">
                parent_category = #{parentCategory,jdbcType=VARCHAR},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.easykoo.mybatis.model.Category">
    update category
    set description = #{description,jdbcType=VARCHAR},
      cn_description = #{cnDescription,jdbcType=VARCHAR},
      parent_category = #{parentCategory,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where category_id = #{categoryId,jdbcType=INTEGER}
  </update>
    <select id="getAllCategory" resultMap="CategoryResultMap">
        select
        <include refid="Category_Column_List"/>
        from category
    </select>
    <select id="getTopLevelCategory" resultMap="CategoryResultMap">
        select
        <include refid="Category_Column_List"/>
        from category where parent_category is null or parent_category = ''
    </select>
    <select id="getChildrenCategory" resultMap="CategoryResultMap" parameterType="java.lang.String">
        select
        <include refid="Category_Column_List"/>
        from category
        where parent_category = #{parentCategory,jdbcType=VARCHAR}
    </select>
    <select id="generateCategoryId" resultType="java.lang.String" parameterType="java.lang.String">
        select generateCategoryId(#{parentId,jdbcType=VARCHAR})
    </select>
</mapper>