<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easykoo.mybatis.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.easykoo.mybatis.model.Product">
        <id column="product_id" property="productId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="cn_name" property="cnName" jdbcType="VARCHAR"/>
        <result column="cn_description" property="cnDescription" jdbcType="VARCHAR"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="img_path" property="imgPath" jdbcType="VARCHAR"/>
        <result column="view_img_path" property="viewImgPath" jdbcType="VARCHAR"/>
        <result column="pre_img_path" property="preImgPath" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <association property="category" column="category_id" javaType="com.easykoo.mybatis.model.Category"
                     select="com.easykoo.mybatis.dao.CategoryMapper.selectByPrimaryKey">
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    product_id, name, description, cn_name, cn_description, category_id, img_path, view_img_path, pre_img_path, priority,
    create_user, create_date, update_user, update_date
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from product
        where product_id = #{productId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.easykoo.mybatis.model.Product">
    insert into product ( name, description, cn_name, cn_description, category_id, img_path, view_img_path, pre_img_path, priority,
      create_user, create_date, update_user, update_date)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{cnName,jdbcType=VARCHAR}, #{cnDescription,jdbcType=VARCHAR},
      #{categoryId,jdbcType=VARCHAR}, #{imgPath,jdbcType=VARCHAR}, #{viewImgPath,jdbcType=VARCHAR},
      #{preImgPath,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER},
      #{createUser,jdbcType=VARCHAR}, now(), #{updateUser,jdbcType=VARCHAR}, now())
  </insert>
    <insert id="insertSelective" parameterType="com.easykoo.mybatis.model.Product">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="cnName != null">
                cn_name,
            </if>
            <if test="cnDescription != null">
                cnDescription,
            </if>
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="imgPath != null">
                img_path,
            </if>
            <if test="viewImgPath != null">
                view_img_path,
            </if>
            <if test="preImgPath != null">
                pre_img_path,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="updateUser != null">
                update_user,
            </if>
            <if test="updateDate != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="cnName != null">
                #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="cnDescription != null">
                #{cnDescription,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="imgPath != null">
                #{img_path,jdbcType=VARCHAR},
            </if>
            <if test="viewImgPath != null">
                #{view_img_path,jdbcType=VARCHAR},
            </if>
            <if test="preImgPath != null">
                #{pre_img_path,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.easykoo.mybatis.model.Product">
        update product
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="cnName != null">
                cn_name = #{cnName,jdbcType=VARCHAR},
            </if>
            <if test="cnDescription != null">
                cn_description = #{cnDescription,jdbcType=VARCHAR},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="imgPath != null">
                img_path = #{imgPath,jdbcType=VARCHAR},
            </if>
            <if test="viewImgPath != null">
                view_img_path = #{viewImgPath,jdbcType=VARCHAR},
            </if>
            <if test="preImgPath != null">
                pre_img_path = #{preImgPath,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where product_id = #{productId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.easykoo.mybatis.model.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      cn_name = #{cnName,jdbcType=VARCHAR},
      cn_description = #{cnDescription,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      img_path = #{imgPath,jdbcType=VARCHAR},
      view_img_path = #{viewImgPath,jdbcType=VARCHAR},
      pre_img_path = #{preImgPath,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
    <select id="findProductWithPage" resultMap="BaseResultMap" parameterType="com.easykoo.mybatis.model.Product">
        select
        <include refid="Base_Column_List"/>
        from product
        where 1=1
        <if test="productId != null">
            and product_id = #{productId,jdbcType=INTEGER}
        </if>
        <if test="name != null">
            and name = #{name,jdbcType=VARCHAR}
        </if>
        <if test="description != null">
            and description = #{description,jdbcType=VARCHAR}
        </if>
        <if test="cnName != null">
            and cn_name = #{cnName,jdbcType=VARCHAR}
        </if>
        <if test="cnDescription != null">
            and cn_description = #{cnDescription,jdbcType=VARCHAR}
        </if>
        <if test="categoryId != null and categoryId!=''">
            and (category_id = #{categoryId,jdbcType=VARCHAR}
          or (category_id in (select category_id from category where parent_category = #{categoryId,jdbcType=VARCHAR}
          or (parent_category in (select category_id from category where parent_category = #{categoryId,jdbcType=VARCHAR} ))
          ))
          )

        </if>
        <if test="imgPath != null">
            and img_path = #{imgPath,jdbcType=VARCHAR}
        </if>
        <if test="viewImgPath != null">
            and view_img_path = #{viewImgPath,jdbcType=VARCHAR}
        </if>
        <if test="preImgPath != null">
            and pre_img_path = #{preImgPath,jdbcType=VARCHAR}
        </if>
        <if test="priority != null">
            and priority = #{priority,jdbcType=INTEGER}
        </if>
        <if test="createUser != null">
            and create_user = #{createUser,jdbcType=VARCHAR}
        </if>
        <if test="createDate != null">
            and create_date = #{createDate,jdbcType=TIMESTAMP}
        </if>
        <if test="updateUser != null">
            and update_user = #{updateUser,jdbcType=VARCHAR}
        </if>
        <if test="updateDate != null">
            and update_date = #{updateDate,jdbcType=TIMESTAMP}
        </if>
    </select>
    <select id="selectByCategory" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from product
        where category_id = #{categoryId,jdbcType=VARCHAR}
    </select>
    <select id="getTopPriorityProducts" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from product order by priority limit 0,10
    </select>
</mapper>